<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-center font-weight-bold">
        <li class="nav-item">
          <a class="nav-link nav-font"  routerLinkActive="active" (click)="navigateTo('productos')">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font"  routerLinkActive="active" (click)="navigateTo('categorias')">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-font"  routerLinkActive="active" (click)="navigateTo('empresas')">Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-font"  routerLinkActive="active" (click)="navigateTo('monedas')">Monedas</a>
        </li>
      </ul>
      <i id="toggler" class="nav-link toggle-edition"
       [class.far]="!esEdicion"
       [class.fa-edit]="!esEdicion"
       [class.fas]="esEdicion"
       [class.fa-book-open]="esEdicion"
       (click)="toggleAction()"
       [tooltip]="tooltip"
       placement="bottom"
      ></i>
    </div>
  </nav>