* {
    margin: 0;
    padding: 0;
  }
  
  .text {
    list-style: none;
  }
  
  .text.hidden {
    border-bottom: 1px solid rgb(54, 5, 5);
  }
  
  .text li {
    display: inline-block;
    float: left;
    font-weight: 700;
    font-size: 2em;
    color: rgb(138, 24, 24);
    opacity: 1;
    transition: all 0.5s ease-in-out;
    max-width: 2em;
  }
  .text.hidden li.spaced {
    padding-left: 0;
  }
  .text li.spaced {
    padding-left: 0.5em;
  }
  
  .text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
  }
  